<div class="title-display">
    <img class="logo" src="assets/img/list.png" alt="Logo">
    <h2 class="section-title-h2">Team</h2>
</div>

<div class="contact-card">
    <div class="social-media card-bg center-flex">
        <img class="profile-img" src="assets/img/profile.png" alt="Profile">
        <div class="skills-icons">
            <img src="assets/img/icons/react.svg" alt="React JS">
            <img src="assets/img/icons/angular.svg" alt="Angular">
            <img src="assets/img/icons/spring.svg" alt="Spring Boot">
        </div>
       
    </div>
    <div class="contact-info">
        <div class="contact-title">
            <h2>Fernanda Ribeiro</h2>
            <h3>Full Stack Developer</h3>
        </div>
        <p>fer.maiafr@gmail.com</p>
        <div class="social-media-icons">
            <a href="https://github.com/fernanda-maia">
                <img src="assets/img/icons/github.png" alt="Github">
            </a>
            <a href="https://www.linkedin.com/in/fernanda-ribeiro-07882b49/">
                <img src="assets/img/icons/linkedin.png" alt="Linkedin">
            </a>
            <a href="https://www.instagram.com/nanda.maiafr/">
                <img src="assets/img/icons/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</div>
