<mat-form-field [formGroup]="formGroup" class="form-group" appearance="outline">
    <mat-label class="form-label">{{fieldName}}</mat-label>

    <input matInput readonly (click)="picker.open()"
                    [min]="minDate"
                    [matDatepicker]="picker" 
                    [name]="controlName" 
                    [formControlName]="controlName ">
                    
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
