:root {
    /*Menu*/
    --menu-theme-color: #36385e;
    --primary-bg-color: #000000;
    --primary-font-color: #cccccc;

    --main-bg-color: #ececec;
    --hover-bg-color: #8bb7fa63;
    --box-shadow: 1px -1px 48px 0px rgba(0,0,0,0.21);
}
