<h1 class="alert-title" mat-dialog-title>{{alert.title}}</h1>
<div class="alert-content" mat-dialog-content>
{{alert.description}}
</div>
<div class="alert-btn-box center-flex" mat-dialog-actions>
    <button class="alert-btn ok-btn" mat-raised-button 
                              cdkFocusInitial
                              [mat-dialog-close]="true">
        {{alert.okBtn}}
    </button>
    <button class="alert-btn cancel-btn" mat-raised-button 
                            [mat-dialog-close]="false" 
                            *ngIf="alert.hasCancelBtn">
        {{alert.cancelBtn}}
    </button>
</div>