.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 10rem;
}

.outline {
    margin: 0 1rem;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ffbb8e;
    color: transparent;
}

.description {
    color: #a1a1a1;
    font-size: 1.5rem;
}


@media only screen and (max-width: 720px) {
    .title {
        font-size: 7rem;
    }

    .description {
        font-size: 1.2rem;
    }

    .img-404 {
        width: 80vw;
    }
}

@media (min-width:1200px) {
    .container {
        flex-direction: row;
    }
}