.app-content {
    overflow-x: hidden;
    display: flex;
    color: #303030;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
    padding: 3rem 1rem;
    background-color: var(--main-bg-color);
}