.wrapper {
    border-radius: 10px;
    min-height: 50vh;
    box-shadow: var(--box-shadow);
    width: 90vw;
    padding: 3rem 1rem;
}

.section-title {
    flex-basis: 40%;
    text-align: center;
    line-height: 1.7;
}

.section-title-h2 {
    font-size: calc(2rem + 2vw);
}

.section-title h3 {
    font-weight: 200;
    font-size: calc(1.5rem + 0.5vw);
}

.logo {
    width: calc(3vw + 7rem);
}

.container {
    flex-grow: 1;
    width: 60%;
    margin-top: 4.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23rem));
    justify-content: center;
    gap: 2rem;
}

.home-card {
    height: fit-content;
    cursor: pointer;
    padding: 1.7rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #5c5c5c;
    font-size: 1.1rem;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 5px;
    border-left: solid 7px #700b5a86;
}

.home-card:hover {
    border-left-color: #b30095;
    transform: translateX(10px);
}

 .mat-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        background: none;
        box-shadow: none;
        padding: 1rem;
        flex-direction: column;
    }

    .container, .section-title {
        width: 100%;
    }

}

@media only screen and (min-width: 1900px) {
    .wrapper {
        width: 80vw;
    }
}