.wrapper {
    width: 100%;
    display: flex;
    padding: 1rem;
}

.section-title {
    flex-basis: 45%;
    text-align: center;
    line-height: 1.7;
}

.section-title h2 {
    letter-spacing: 2px;
    word-spacing: 5px;
    color: rgb(238, 238, 238);
    text-shadow: -1px -1px 7px rgba(41, 41, 41, 0.82);
    font-size: calc(2rem + 2vw);
    font-weight: 300;
}

.section-title h3 {
    font-weight: 200;
    font-size: calc(1.5rem + 0.5vw);
}

.logo {
    width: 7rem;
}

.container {
    flex-grow: 1;
    width: 85vw;
    margin-top: 4.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 23rem));
    justify-content: center;
    gap: 2rem;
}

.home-card {
    height: fit-content;
    cursor: pointer;
    padding: 1.7rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #5c5c5c;
    font-size: 1.1rem;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 5px;
    border-left: solid 7px #700b5a86;
}

.home-card:hover {
    border-left-color: #b30095;
}

 .mat-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }

}