<div class="wrapper">
    <div class="section-title">
        <img class="logo" src="assets/img/list.png" alt="Logo">
        <h2>Welcome!</h2>
        <h3>What we gonna do today?</h3>
    </div>
    <div class="container">
        <div class="home-card" (click)="navigateTo('/rooms')">
            <mat-icon>history</mat-icon>
            Check the Room List
        </div>
        <div class="home-card" (click)="navigateTo('/rooms/schedule')" >
            <mat-icon>bookmark_border</mat-icon>
            Schedule a Room
        </div>
        <div class="home-card" (click)="navigateTo('/contact')">
            <mat-icon>help_outline</mat-icon>
            I need Help
        </div>
        <div class="home-card" (click)="redirect('https://github.com/fernanda-maia')" >
            <mat-icon>downloading</mat-icon>
            See more apps
        </div>
    </div>
</div>
