<div class="title-display">
    <img class="logo" src="assets/img/list.png" alt="Logo">
    <h2 class="section-title-h2">List Room</h2>
</div>

<!--START Room List Table-->
<table mat-table [dataSource]="source" matSort class="room-list">

    <!-- NAME Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let data">{{data.name}}</td>
    </ng-container>
  
    <!--DATE Column-->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let data">{{data.date}}</td>
    </ng-container>
  
    <!--START HOUR Column-->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Hour </th>
      <td mat-cell *matCellDef="let data">{{data.start}}</td>
    </ng-container>
  
    <!--END HOUR Column-->
    <ng-container matColumnDef="end">
      <th class="display-mb-none" mat-header-cell *matHeaderCellDef mat-sort-header> End HOur </th>
      <td class="display-mb-none" mat-cell *matCellDef="let data">{{data.end}}</td>
    </ng-container>

    <!--START ACTIONS Column-->
    <ng-container matColumnDef="actions">
      <th class="display-mb-none" mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let data" class="actions-td center-flex display-mb-none">
          <mat-icon (click)="data.actions.view(data.id)" >visibility</mat-icon>
          <mat-icon (click)="data.actions.edit(data.id)">edit</mat-icon>
          <mat-icon (click)="data.actions.delete(data.id)">delete_outline</mat-icon>
        </td>
    </ng-container>
    <!--END ACTIONS Column-->

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
<!--END Room List Table-->
  